{% extends 'master.html' %}
{% load static %}
{% block content %}
<head> <link rel="stylesheet" href="{% static 'static/assets/css/fp.css' %}"></head>
    <main>
        <!-- forgot-password.html -->
        <div class="forgot-password-container">
            <h2>Forgot Password</h2>
            <p>Please enter your email address to reset your password.</p>
            <form  method="POST">
                <input type="email" placeholder="Email" required>
                <button type="submit">Reset Password</button>
            </form>
            <a href="{% url 'login' %}">Back to Login</a>
        </div>
    </main>

    {% endblock %}